button#btn-upd,button#btn-del{
    position: relative;
    left: 13%;
    margin-left: 70px;
}
.container-updateuser{
    position: relative;
   left: 26%;
}

.span-inputs{
    color: red;
    font-size: 0.8rem;
    margin-left: 50px;
}

input#regist,input#upd{
    background-color:  rgba(165, 42, 42, 0.075);
    
}