.fc {
    background-color: #ffffff; /* Cor de fundo desejada */
    color: #333; /* Cor do texto desejada */
  }


/* Você também pode definir estilos personalizados para os eventos */
.fc-event {
    background-color: #6DCA41; /* Cor de fundo desejada para os eventos */
    cursor: pointer;
    color: #fff; /* Cor do texto desejada para os eventos */
    border-color: #4f88ba; /* Cor da borda dos eventos */
  }
  
  /* Se desejar alterar a cor quando o evento estiver em foco (hover) */
  .fc-event:hover {
    background-color: rgb(35, 161, 23);
  }

  button{
    background-color: #0E731D;
  }
  