.fc {
    background-color: #ffffff; /* Cor de fundo desejada */
    color: #333; /* Cor do texto desejada */
  }


/* Você também pode definir estilos personalizados para os eventos */
.fc-event {
    /* Cor de fundo desejada para os eventos */
    cursor: pointer;
    color: #fff; /* Cor do texto desejada para os eventos */
    border-color: #4f88ba; /* Cor da borda dos eventos */
  }
  .CONFIRMED {
    background-color: #6DCA41;
    /* Outros estilos para quando o componente estiver ativo */
  }
  
  .PENDING {
    background-color: rgba(255, 0, 0, 0.399);
    /* Outros estilos para quando o componente estiver inativo */
  }
  
  /* Se desejar alterar a cor quando o evento estiver em foco (hover) */
  .fc-event:hover {
    background-color: rgb(35, 161, 23);
  }

  button{
    background-color: #0E731D;
  }

  
  