/* .container-user{
    position: relative;
    height: 690px;
    width: 900px;
   left: 26%;
   
  
   
} */
 .btn-perfil{
   margin-left: 70px;
   
    
}


span#user-spo{
    position: absolute;
    width: 400px;
    height: 40px;
    /* left: 40%; */
    font-size: 1.5rem;
    color: rgb(61, 61, 61);
}

div#sportfavorite{
    display: flex;
    overflow: auto;
    min-height: 10px;
    max-height: 200px;
} 