.fieldset-user {
    width: 1000px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}