.table-primary{
    --bs-table-bg: #6DCA41;
    --bs-table-border-color: none;
}
.bntdefault{
    --bs-btn-color: #fff;
    --bs-btn-bg: #6DCA41;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(28, 146, 17);
}